{% load crispy_forms_tags %}


<form method="post"> {% csrf_token %}
    {% if log_sign_in_form.non_field_errors %}
        <div class="alert alert-danger">{{ log_sign_in_form.non_field_errors|join:"<br \>" }}</div>
    {% endif %}


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        Email
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    {{ log_sign_in_form.email|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Name and Zip Code
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {{ log_sign_in_form.first_name|as_crispy_field }}
                    {{ log_sign_in_form.last_name|as_crispy_field }}
                    {{ log_sign_in_form.zip_code_name|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Username and Zip Code
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingThree">
                <div class="panel-body">
                    {{ log_sign_in_form.username|as_crispy_field }}
                    {{ log_sign_in_form.zip_code_username|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>


    <input type="submit" name="save" value="Submit" class="btn btn-primary"
           id="submit-id-save">

</form>
